{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'products:menu' %}">&#8592; Back to Menu</a>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>3</strong></h5></th>
                    <th><h5>Total: <strong>$45</strong></h5></th>
                    <th>
                        <a style="float:right; margin:5px" class="btn btn-outline-success" href="{% url 'orders:checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        
        </div>

        <br>

        <div class="box-element">
            <div class="cart-row" style="font-weight: 600;">
                <div style="flex:2"></div>
                <div style="flex:2">Item</div>
                <div style="flex:1">Price</div>
                <div style="flex:1">Quantity</div>
                <div style="flex:1">Total</div>
            </div>

            <div class="cart-row">
                <div style="flex:2">
                    <img class="row-image" src="{% static 'images/products/chicken_avocado_salad.jpg' %}" alt="">
                </div>
                <div style="flex:2">Product 1</div>
                <div style="flex:1">$10</div>
                <div style="flex:1">
                    <span class="quantity">3</span>
                    <div class="quantity">
                        <span class="chg-quantity">&#43;</span>
                        <span class="chg-quantity">&#8722;</span>
                    </div>
                </div>
                <div style="flex:1">$45</div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}