{% extends 'core/base.html' %}

{% block content %}

<h1>Thank You!</h1>
<h3>We'll make sure you get your order as soon as possible.</h3>
<h3>In the meantime, you might want to check out our 5 top-selling items:</h3>

<div class='row'>
{% for product in products %}
{{ product.name }}
    <div class="col-lg-4">
        <p><a href="{% url 'products:product' product_id=product.id %}">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
        </a>
        </p>
        <div class="box-element product">
            <p><h6><strong><a href="{% url 'products:product' product_id=product.id %}">{{ product.name }}</a></strong></h6></p>
            <p>{{ product.overview }}</p>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <h4 style="float: right">${{ product.price }}</h4>
        </div>
    </div>
{% endfor %}
</div>


{% endblock content %}