{% extends 'core/base.html' %}
{% load products_tags %}
{% block content %}

<div>
    {% category_list %}
</div>

<div class='row'>
    {% for product in products %}
    <div class="col-lg-4">
        <p><a href="{% url 'products:product' product_id=product.id %}">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
           </a>
        </p>
        <div class="box-element product">
            <p><h6><strong><a href="{% url 'products:product' product_id=product.id %}">{{ product.name }}</a></strong></h6></p>
            <p>{{ product.overview }}</p>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <h4 style="float: right">${{ product.price }}</h4>
        </div>
    </div>
    {% endfor %}
</div>

<div>

</div>

{% endblock content %}