{% extends 'core/base.html' %}

{% block content %}

<div>
    <p>{{ product.name }}</p>
    <p><img src="{{ product.cover_image.url }}" alt="cover_image"></p>
    <p>{{ product.price }}</p>
    <p>{{ product.description }}</p>
    {% for ingredient in product.ingredients %}
    <ul>
        <li>{{ ingredient }}</li>
    </ul>
</div>

{% endblock content %}