{% load static %}

<!-- <h1><a href="{% url 'core:index' %}">MEALS ON WHEELS</a></h1> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'core:index' %}">Meals on Wheels</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'products:menu' %}">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">View Profile</a></li>
              <li><a class="dropdown-item" href="#">History</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          {% if request.user.is_authenticated %}
          <li>
            Hello, {% if request.user.first_name %} {{ request.user.first_name }}!
              {% else %}{{ request.user.username }}!{% endif %}
              <a href="{% url 'customers:logout' %}">LOGOUT</a>
              {% else %}
              <a href="{% url 'customers:login' %}">LOGIN</a>
            </li>
            {% endif %}
        </ul>
        <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div class="form-inline my-2 my-lg-0">
            {% if request.user.is_authenticated %}
            <span><a href="{% url 'customers:profile-details' %}">My Profile</a></span>
            <a href="{% url 'customers:logout' %}"class="btn btn-warning">Logout</a>
            {% else %}
            <a href="{% url 'customers:login' %}">LOGIN</a>
            {% endif %}

            <a href="{% url 'orders:cart' %}">
               <img  id="cart-icon" src="{% static 'images/shopping_bag.png' %}">
           </a>
           <p id="cart-total">0</p>
       </div>
      </div>
    </div>
</nav>
<!-- {% if request.user.is_authenticated %}
    <p>Hello, {% if request.user.first_name %} {{ request.user.first_name }}!
              {% else %}{{ request.user.username }}!{% endif %}</p>
    <a href="{% url 'customers:logout' %}">LOGOUT</a>
    <span><a href="{% url 'customers:profile-details' %}">My Profile</a></span>
{% else %}
    <a href="{% url 'customers:login' %}">LOGIN</a>
{% endif %} -->

<!-- <img src="{% static 'images/shopping_bag.png' %}" alt=""> -->

<hr>
