{% extends 'core/base.html' %}

{% block content %}

{% if page == 'login' %}

<form action="" method="POST">
    {% csrf_token %}
    <div>
        <p>{{ form.username.label }}:</p>
        <p>{{ form.username }}</p>
    </div>
    <div>
        <p>{{ form.password.label }}:</p>
        <p>{{ form.password }}</p>
    </div>
    <button type="submit">Log in</button>
</form>

<p>Not registered yet?</p>
<a href="{% url 'customers:register' %}">Register</a>

{% else %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>

<p>Already registered?</p>
<a href="{% url 'customers:login' %}">Log in</a>

{% endif %}

{% endblock content %}