{% extends 'core/base.html' %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    <p>{{ form.as_p }}</p>
    <button type="submit">Save</button>
</form>
<hr>

{% endblock content %}