{% extends 'core/base.html' %}

{% block content %}

{% if page == 'profile_details' %}
<div>
    <a href="{% url 'customers:profile-edit' %}">Edit</a>
    <hr>
    <p>Personal Details</p>
    <p>User Name: {{ customer.username }}</p>
    <p>Email: {% if customer.email %}{{ customer.email }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p>First Name: {% if customer.first_name %}{{ customer.first_name }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p>Last Name: {% if customer.last_name %}{{ customer.last_name }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p>Phone: {% if customer.phone %}{{ customer.phone }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p>City: {% if customer.city %}{{ customer.city }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <p>Street Address: {% if customer.street_address %}{{ customer.street_address }}{% else %}<span style="font-style: italic;">please provide by editing your profile</span>{% endif %}</p>
    <hr>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <p>{{ form.username.label }}:</p>
            <p>{{ form.username }}</p>
        </div>
        <div>
            <p>{{ form.email.label }}:</p>
            <p>{{ form.email }}</p>
        </div>
        <div>
            <p>{{ form.first_name.label }}:</p>
            <p>{{ form.first_name }}</p>
        </div>
        <div>
            <p>{{ form.last_name.label }}:</p>
            <p>{{ form.last_name }}</p>
        </div>
        <div>
            <p>{{ form.phone.label }}:</p>
            <p>{{ form.phone }}</p>
        </div>
        <div>
            <p>{{ form.city.label }}:</p>
            <p>{{ form.city }}</p>
        </div>
        <div>
            <p>{{ form.street_address.label }}:</p>
            <p>{{ form.street_address }}</p>
        </div>
        <button type='submit'>Save</button>
    </form>
    <hr>
    <a href="{% url 'customers:password-change' %}">Change Password</a>
</div>
{% endif %}

{% endblock content %}